
$primary: #FC6400; 
$secondary: #55fbc2;
$color-primary: #ee7202;
$shin-agency : #ff9a14;

$white: #fff;
$black: #000;
$white_color: #fff;
$black_color: #000;
// $darken: #3a4348;

$font-primary: 'Kanit', sans-serif; 
$font-secondary: 'Roboto', sans-serif; 
$font-titre: 'Play', sans-serif;