@use "base/variables" as *;
.site-button {
	font-size: 1.125rem;
	padding: 18px 25px;
	border: 1px solid #e4610f;
	background: #e4610f;
    border-radius: 5px;
	line-height: 17.6px;
    color: #fff;
}
.b-btn{
	padding: 14px 28px;

} 

.btn-secondary {
	background-color: #a3a3a3; 
	border-radius: 0px;
	padding: 10px;
    transition-duration: .3s;
	cursor: pointer;
	overflow: hidden;
	
}
.btn-outline-light {
	border: 1px solid #fff;
}