/* :: 7.0 Header CSS */
@use "base/variables" as *;

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 84px;
}

.site-nav-main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}
.main-navigation {

    .main-ul {
        display: flex;
    }

}

.site-logo-img {
    .custom-logo {
        max-width: 192px;
    }
}

