/* :: 7.0 Header CSS */
@use "base/variables" as *;
.hero-block {
    padding-bottom: 10px;
    width: 100%;
}
.hero-bg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    display: flex;
    align-items: center;
}
.hero-wrap-item {
    max-width: 80%;
    background-color: $white;
    padding: 8px 15px;
}
.hero-title {
    color: $black;
    font-size : clamp(28px, 3.5vw, 44px);
    line-height: 1.25;
    
}

.banner_button {
    border: 1px solid #000;
    padding: 6px 23px;
}