/* :: 7.0 Header CSS */
@use "base/variables" as *;
.hero-block {
    padding-bottom: 10px;
    width: 100%;
}
.hero-bg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}
.hero-wrap-item {
    max-width: 80%;
    margin:  0 auto;
}
.hero-title {
    color: $white;
    font-size: larger;
}