/* :: 7.0 Services CSS */
@use "base/variables" as *;

.section-services {
    padding-top: 20px;
    padding-bottom: 20px;
}

.single-service {
    .service-title {
        font-size: 30px;
    }
}
.listing-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    z-index: 6;
    margin-bottom: 40px
}

@media (min-width: 992px) {
    .listing-content {
        flex-direction:row
    }
}